$TTL 86400
@   IN  SOA     ns1.rke2.internal. root.rke2.internal. (
         2024071601  ;Serial
         3600        ;Refresh
         1800        ;Retry
         604800      ;Expire
         86400       ;Minimum TTL
)
         IN  NS      ns1.rke2.internal.
         IN  NS      ns2.rke2.internal.
         IN  A       10.0.0.108
         IN  MX 10   mta.rke2.internal.
ns1      IN  A       10.0.0.108
ns2      IN  A       10.0.0.109
mail1    IN  A       10.0.0.108 
